@charset "utf-8";

/*************************************************************************************************************
	common
*************************************************************************************************************/
/* flag */
[class^="flagItem"] {display:inline-block;padding:0 8px;line-height:22px;font-size:12px;color:#727daa;border:1px solid #d8dae5;border-radius:11px;background-color:#fff;}

/* icon flag - 뉴스 */
.flagNews {display:inline-block;position:relative;height:40px;padding:0 0 0 40px;}
.flagNews:before {display:block;content:"";position:absolute;left:0;top:0;width:40px;height:40px;border:1px solid #c2c8d8;border-radius:100%;background-color:#fff;background:url('../images/ico_media_story_news.png') no-repeat center;}
.flagNews em {display:block;padding:0 0 0 8px;line-height:40px;font-size:14px;font-weight:bold;color:#51cfa5;}
/* icon flag - 트윗터 */
.flagTwt {display:inline-block;position:relative;height:40px;padding:0 0 0 40px;}
.flagTwt:before {display:block;content:"";position:absolute;left:0;top:0;width:40px;height:40px;border:1px solid #c2c8d8;border-radius:100%;background-color:#fff;background:url('../images/ico_media_story_twt.png') no-repeat center;}
.flagTwt em {display:block;padding:0 0 0 8px;line-height:40px;font-size:14px;font-weight:bold;color:#51cfa5;}
/* icon flag - 블로그 */
.flagBlog {display:inline-block;position:relative;height:40px;padding:0 0 0 40px;}
.flagBlog:before {display:block;content:"";position:absolute;left:0;top:0;width:40px;height:40px;border:1px solid #c2c8d8;border-radius:100%;background-color:#fff;background:url('../images/ico_media_story_blog.png') no-repeat center;}
.flagBlog em {display:block;padding:0 0 0 8px;line-height:40px;font-size:14px;font-weight:bold;color:#51cfa5;}
/* icon flag - 유튜브 */
.flagYtb {display:inline-block;position:relative;height:40px;padding:0 0 0 40px;}
.flagYtb:before {display:block;content:"";position:absolute;left:0;top:0;width:40px;height:40px;border:1px solid #c2c8d8;border-radius:100%;background-color:#fff;background:url('../images/ico_media_story_ytb.png') no-repeat center;}
.flagYtb em {display:block;padding:0 0 0 8px;line-height:40px;font-size:14px;font-weight:bold;color:#51cfa5;}
/* icon flag - 커뮤니티 */
.flagCommunity {display:inline-block;position:relative;height:40px;padding:0 0 0 40px;}
.flagCommunity:before {display:block;content:"";position:absolute;left:0;top:0;width:40px;height:40px;border:1px solid #c2c8d8;border-radius:100%;background-color:#fff;background:url('../images/ico_media_story_community.png') no-repeat center;}
.flagCommunity em {display:block;padding:0 0 0 8px;line-height:40px;font-size:14px;font-weight:bold;color:#51cfa5;}

/* link 새창보기 */
a[target="_blank"] {display:inline-block;position:relative;min-height:16px;padding:0 0 0 20px;line-height:20px;font-size:12px;}
a[target="_blank"]:before {display:block;content:"";position:absolute;left:0;top:2px;width:16px;height:16px;background:url('../images/ico_link_blank.png') no-repeat center;}

/* button - large */
[class^="btnLarge"] {display:inline-block;box-sizing:border-box;min-width:80px;padding:0 10px;text-align:center;border:1px solid #071c51;border-radius:4px;background-color:#fff;}
[class^="btnLarge"] em {display:inline-block;padding:9px 0;line-height:20px;font-size:16px;color:#2b2c33;}
.btnLarge02 {background-color:#071c51;}
.btnLarge02 em {color:#fff;}
.btnLarge03 {border:1px solid #00b3e3;background-color:#00b3e3;}
.btnLarge03 em {color:#fff;}

/* button - large */
[class^="btnMid"] {display:inline-block;box-sizing:border-box;min-width:64px;padding:0 10px;text-align:center;border:1px solid #071c51;border-radius:4px;background-color:#fff;}
[class^="btnMid"] em {display:inline-block;padding:5px 0;line-height:20px;font-size:15px;color:#2b2c33;}
.btnMid02 {background-color:#071c51;}
.btnMid02 em {color:#fff;}

/* button - small */
[class^="btnSmall"] {display:inline-block;box-sizing:border-box;min-width:50px;padding:0 10px;text-align:center;border:1px solid #d8dce5;border-radius:4px;background-color:#fff;}
[class^="btnSmall"] em {display:inline-block;padding:3px 0;line-height:18px;font-size:11px;color:#4b4d58;}
.btnSmall02 {border:1px solid #707070;background-color:#707070;}
.btnSmall02 em {color:#fff;}

/* button - tiny */
[class^="btnTiny"] {display:inline-block;box-sizing:border-box;min-width:50px;padding:0 10px;text-align:center;border:1px solid #d8dce5;border-radius:4px;background-color:#fff;}
[class^="btnTiny"] em {display:inline-block;padding:2px 0;line-height:18px;font-size:12px;color:#071c51;}

/* button - icon */
[class^="btnTwt"] {display:inline-block;width:30px;height:30px;border:1px solid #d8dae5;border-radius:5px;background:#fff url('../images/ico_twt.png') no-repeat center;}
[class^="btnFbook"] {display:inline-block;width:30px;height:30px;border:1px solid #d8dae5;border-radius:5px;background:#fff url('../images/ico_fb.png') no-repeat center;}
[class^="btnYtb"] {display:inline-block;width:30px;height:30px;border:1px solid #d8dae5;border-radius:5px;background:#fff url('../images/ico_ytb.png') no-repeat center;}
[class^="btnExl"] {display:inline-block;width:30px;height:30px;border:1px solid #d8dae5;border-radius:5px;background:#fff url('../images/ico_exl.png') no-repeat center;}
[class^="btnPrint"] {display:inline-block;width:30px;height:30px;border:1px solid #d8dae5;border-radius:5px;background:#fff url('../images/ico_print.png') no-repeat center;}
[class^="btnReset"] {display:inline-block;box-sizing:border-box;}
[class^="btnReset"] em {display:inline-block;position:relative;padding:10px 0 10px 30px;line-height:20px;font-size:16px;color:#2b2c33;}
[class^="btnReset"] em:before {display:block;content:"";position:absolute;left:0;top:50%;width:28px;height:28px;background:url('../images/btn_sync.png') no-repeat center;transform:translate(0, -50%);}
[class^="btnPlus"] {display:inline-block;box-sizing:border-box;padding:0 10px;border:1px solid #071c51;border-radius:5px;}
[class^="btnPlus"] em {display:inline-block;position:relative;padding:5px 0 5px 16px;line-height:20px;font-size:15px;color:#2b2c33;}
[class^="btnPlus"] em:before {display:block;content:"";position:absolute;left:0;top:50%;width:12px;height:12px;background:url('../images/ico_plus.png') no-repeat center;transform:translate(0, -50%);}
[class^="btnDetailSrch"] {display:inline-block;box-sizing:border-box;min-width:80px;padding:0 5px 0 10px;text-align:center;border:1px solid #071c51;border-radius:4px;background-color:#fff;}
[class^="btnDetailSrch"] em {display:inline-block;position:relative;padding:9px 20px 9px 0;line-height:20px;font-size:16px;color:#2b2c33;}
[class^="btnDetailSrch"] em:before {display:block;content:"";position:absolute;right:0;top:50%;width:16px;height:16px;margin:-8px 0 0;background-image:url('../images/ico_fold_arrow.png');background-repeat:no-repeat;background-position:center bottom;}
[class^="btnDetailSrch"].active em:before {background-position:center top;}
[class^="btnMore"] {display:inline-block;box-sizing:border-box;text-align:center;}
[class^="btnMore"] em {display:inline-block;position:relative;padding:9px 0 9px 20px;line-height:20px;font-size:14px;color:#14b3e3;}
[class^="btnMore"] em:before {display:block;content:"";position:absolute;left:0;top:50%;width:17px;height:17px;margin:-8px 0 0;background:url('../images/btn_more.png') no-repeat center;}
[class^="btnReport"] {display:inline-block;width:32px;height:32px;background:#fff url('../images/ico_report.png') no-repeat center;}

/* button case */
[class^="btnBundleBox"] {text-align:center;}
[class^="btnBundleBox"] > a,
[class^="btnBundleBox"] > button {margin:0 10px 0 0;}
[class^="btnBundleBox"] > a:last-child,
[class^="btnBundleBox"] > button:last-child {margin:0;}

/* form - text */
[class^="inpText"] {display:inline-block;box-sizing:border-box;border:1px solid #c2c8d8;border-radius:5px;background-color:#fff;vertical-align:middle;}
[class^="inpText"] input[type="text"],
[class^="inpText"] input[type="tel"],
[class^="inpText"] input[type="password"] {display:block;box-sizing:border-box;width:100%;height:30px;padding:0 10px;border-radius:5px;background-color:#fff;}

/* form - date */
[class^="inpDate"] {display:inline-block;position:relative;box-sizing:border-box;border:1px solid #c2c8d8;border-radius:5px;background-color:#fff;vertical-align:middle;}
[class^="inpDate"]:after {display:block;content:"";position:absolute;right:8px;top:50%;width:24px;height:24px;background:url('../images/ico_calendar.png') no-repeat center;transform:translate(0, -50%);}
[class^="inpDate"] input[type="text"] {display:block;box-sizing:border-box;width:100%;height:30px;padding:0 32px 0 10px;text-align:center;border-radius:5px;background-color:#fff;}

.inpDate .inner {display:flex;justify-content:space-between;padding:0 32px 0 0;}
.inpDate .inner > span {width:calc(50% - 10px);}
.inpDate .inner > span input[type="text"] {width:100%;padding:0;}
.inpDate .inner > span + span {position:relative;}
.inpDate .inner > span + span:before {display:block;content:"-";position:absolute;left:-20px;top:0;bottom:0;width:20px;line-height:32px;text-align:center;}

/* form - search */
[class^="inpSrch"] {display:inline-block;box-sizing:border-box;position:relative;border:1px solid #c2c8d8;border-radius:5px;background-color:#fff;vertical-align:middle;}
[class^="inpSrch"]:after {display:block;content:"";position:absolute;right:8px;top:50%;width:24px;height:24px;background:url('../images/ico_search.png') no-repeat center;transform:translate(0, -50%);}
[class^="inpSrch"] input[type="text"],
[class^="inpSrch"] input[type="tel"],
[class^="inpSrch"] input[type="password"] {display:block;box-sizing:border-box;width:100%;height:30px;padding:0 35px 0 10px;border-radius:5px;background-color:#fff;}

/* form - check */
[class^="checkItem"] {display:inline-block;position:relative;min-height:18px;padding:7px 0 7px 18px;vertical-align:middle;}
[class^="checkItem"] input[type="checkbox"] {position:absolute;left:0;top:7px;width:18px;height:18px;background-image:url('../images/ico_checkbox.png');background-repeat:no-repeat;background-position:center 0;background-size:100% auto;}
[class^="checkItem"] > label,
[class^="checkItem"] > span {display:block;margin:0 0 0 5px;line-height:18px;font-size:13px;}
[class^="checkItem"] input[type="checkbox"]:checked {background-position:center -22px;}
[class^="checkItem"] input[type="checkbox"]:disabled {background-position:center -44px;}
[class^="checkItem"] input[type="checkbox"]:checked:disabled {background-position:center -66px;}

/* form - radio */
[class^="radioItem"] {display:inline-block;position:relative;min-height:18px;padding:7px 0 7px 18px;vertical-align:middle;}
[class^="radioItem"] input[type="radio"] {position:absolute;left:0;top:7px;width:18px;height:18px;background-image:url('../images/ico_radiobox.png');background-repeat:no-repeat;background-position:center 0;background-size:100% auto;}
[class^="radioItem"] > label,
[class^="radioItem"] > span {display:block;margin:0 0 0 5px;line-height:18px;font-size:13px;}
[class^="radioItem"] input[type="radio"]:checked {background-position:center -22px;}
[class^="radioItem"] input[type="radio"]:disabled {background-position:center -44px;}
[class^="radioItem"] input[type="radio"]:checked:disabled {background-position:center -66px;}

/* form - select */
[class^="selectItem"] {display:inline-block;border:1px solid #c2c8d8;border-radius:5px;background-color:#fff;}
[class^="selectItem"] select {display:block;height:30px;padding:0 25px 0 10px;border-radius:1px solid #c2c8d8;border-radius:5px;background:url('../images/ico_select_fold.svg') no-repeat calc(100% - 8px) center;background-color:#fff;}

/* form - button type radio */
[class^="btnRadioBox"] {display:inline-block;vertical-align:middle;}
[class^="btnRadioBox"]:after {display:block;content:"";clear:both;overflow:hidden;width:0;height:0;padding:0;margin:0;line-height:0;font-size:1;}
[class^="btnRadioBox"] button {float:left;position:relative;min-width:50px;padding:0 6px;margin:0 -1px 0 0;border:1px solid #c2c8d8;background-color:#fff;}
[class^="btnRadioBox"] button:first-child {border-radius:4px 0 0 4px;}
[class^="btnRadioBox"] button:last-child {margin:0;border-radius:0 4px 4px 0;}
[class^="btnRadioBox"] button > em {display:block;padding:6px 0;line-height:18px;font-size:11px;color:#858995;}
[class^="btnRadioBox"] button.active {border:1px solid #071c51;background-color:#e6f1ff;z-index:1;}
[class^="btnRadioBox"] button.active > em {color:#071c51;}

/* search tag */
[class^="srchTagItem"] {position:relative;margin:0 0 0 5px;padding:7px 28px  7px 12px;font-size:14px;color: #4b4d58;border:1px solid #eceef4;background-color:#eceef4}
[class^="srchTagItem"] button {position:absolute;right:8px;top:50%;width:16px;height:16px;margin:-8px 0 0;background:url('../images/ico_search_tag_delete.png') no-repeat center;}

/* table list */
[class^="listTbl"] table {table-layout:fixed;width:100%;border-collapse:collapse;text-align:center;word-break:break-all;}
[class^="listTbl"] table thead th {height:20px;padding:8px 10px;font-size:13px;color:#4b4d58;background-color:#f5f6f9;}
[class^="listTbl"] table tbody td {height:28px;padding:10px;border-bottom:1px solid #ebedf1;}
[class^="listTbl"] .btnTblItem {min-height:100%;}
[class^="listTbl"] .btnTblItem:hover {color:#14b3e3;}
[class^="listTbl"] .fontC01 {color:#000;}
[class^="listTbl"] .fontC02 {color:#858995;}
[class^="listTbl"] .fontC03 {color:#00b3e3;}
[class^="listTbl"] .fontCB01 {color:#000;font-weight:700;}
[class^="listTbl"] .fontCB02 {color:#858995;font-weight:700;}
[class^="listTbl"] .fontCB03 {color:#00b3e3;font-weight:700;}
[class^="listTbl"] .aLink {display:inline-block;color:#858995;text-decoration:underline;}

[class^="subTitleWrap"] + [class^="listTbl"] {margin:12px 0 0;}

.listTbl02 table tbody td {height:20px;}

/* table tr click event */
[class^="listTbl"].evClick table tbody tr {cursor:pointer;}
[class^="listTbl"].evClick table tbody tr.active {background-color:#e4f4f9;}

/* table scroll-y */
[class^="listTbl"].scrollY {overflow-y:auto;overflow-x:hidden;max-height:526px;}
.listTbl02.scrollY {max-height:446px;}

/* compare table box */
.compareTblWrap {overflow:hidden;}
.compareTblWrap ul {display:flex;margin:0 -4% 0 0;}
.compareTblWrap ul li {width:30%;padding:0 3% 0 0;}
.compareTblWrap ul li .tit {display:block;line-height:24px;font-size:18px;color:#0d3681;}
.compareTblWrap ul li [class^="listTbl"] {margin:12px 0 0;}
.compareTblWrap ul li [class^="listTbl"]:first-child {margin:0;}

/* title */
[class^="sTitle"] {display:block;line-height:32px;font-size:22px;}
.sTitle02 {line-height:20px;font-size:16px;color:#4b4d58;}

/* title box */
[class^="subTitleWrap"] {margin:65px 0 0;}
[class^="subTitleWrap"]:first-child {margin:0;}
[class^="subTitleWrap"] [class^="sTitle"] {display:inline-block;vertical-align:middle;}
[class^="subTitleWrap"] [class^="totalNum"] {display:inline-block;margin:0 0 0 5px;line-height:24px;font-size:22px;font-weight:700;color:#00b3e3;vertical-align:middle;}
[class^="subTitleWrap"] [class^="totalNum"] em {display:inline-block;font-size:14px;font-weight:400;color:#858995;vertical-align:middle;}
[class^="subTitleWrap"] .totalNum02 {line-height:20px;font-size:16px;}
[class^="subTitleWrap"] .btnRadioBox {margin:0 0 0 30px;}
[class^="subTitleWrap"] [class^="flexInner"] {display:flex;justify-content:space-between;}

.subTitleWrap02 {margin:40px 0 0;}
.subTitleWrap03 {margin:30px 0 0;}

/* bundle float Wrap */
[class^="bundleFlexBox"] {display:flex;justify-content:space-between;margin:65px 0 0;}
[class^="bundleFlexBox"]:first-child {margin:0;}
[class^="bundleFlexBox"] .bundleL {width:416px;}
[class^="bundleFlexBox"] .bundleR {width:868px;}

/* bundle wrap */
[class^="bundleWrap"] {box-sizing:border-box;margin:64px 0 0;padding:30px;border:1px solid #dee2eb;border-radius: 8px;background-color:#fff; box-shadow:0 1px 4px 0 rgba(52, 85, 159, 0.08);}
[class^="bundleWrap"]:first-child {margin:0;}
[class^="subTitleWrap"] + [class^="bundleWrap"] {margin:12px 0 0;}

/* graph box type */
[class^="graphBundleBox"] {margin:50px 0 0;}
[class^="graphBundleBox"]:first-child {margin:0;}
.subTitleWrap02 + [class^="graphBundleBox"] {margin:20px 0 0;}
[class^="graphBundleBox"] .graphBox {position:relative;}
[class^="graphBundleBox"] .graphBox .graphLegendBox {position:absolute;right:0;top:50%;transform:translate(0 , -50%);}
[class^="graphBundleBox"] .graphBox .graphLegendBox ul li {position:relative;margin:15px 0 0;padding:0 0 0 17px;}
[class^="graphBundleBox"] .graphBox .graphLegendBox ul li:first-child {margin:0;}
[class^="graphBundleBox"] .graphBox .graphLegendBox ul li button {width:100%;height:20px;font-size:13px;text-align:left;}
[class^="graphBundleBox"] .graphBox .graphLegendBox ul li button > span {display:block;position:absolute;left:0;top:9px;width:12px;height:12px;border-radius:100%;transform:translate(0 , -50%);}

.graphBundleBox02 {display:flex;justify-content:space-between;}
.graphBundleBox02 > .bundleL {width:calc(100% - 843px);}
.graphBundleBox02 > .bundleR {width:calc(100% - 843px);}
.graphBundleBox02 > .graphBox {width:813px;}
.graphBundleBox02 > .graphBox .treemapGraph {width:100%;height:446px;}

/* 뉴스카드 - defaul 뉴스기사 */
[class^="newsCardBox"] {display:block;position:relative;min-height:40px;padding:16px 33px 16px 66px;}
[class^="newsCardBox"] .flagNews,
[class^="newsCardBox"] .flagTwt,
[class^="newsCardBox"] .flagBlog,
[class^="newsCardBox"] .flagYtb,
[class^="newsCardBox"] .flagCommunity {position:absolute;left:16px;top:16px;}
[class^="newsCardBox"] .newsTitle .tit {display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;line-height:20px;font-size:15px;font-weight:700;text-overflow:ellipsis;}
[class^="newsCardBox"] .hasTag {margin:10px 0 0;}
[class^="newsCardBox"] .hasTag button {margin:0 4px 0 0;}
[class^="newsCardBox"] .hasTag button:last-child {margin:0;}
[class^="newsCardBox"] .newsInfo {font-size:13px;color:#858995;}
[class^="newsCardBox"] .newsInfo span {display:inline-block;margin:0 0 0 4px;}
[class^="newsCardBox"] .newsInfo span:first-child {margin:0;}
[class^="newsCardBox"] .newsInfo .point01 {font-weight:700;color:#2b2c33;}
[class^="newsCardBox"] .newsInfo .itemDate {display:inline-block;position:relative;margin:0 0 0 6px;padding:0 0 0 10px;font-size:13px;color:#858995;}
[class^="newsCardBox"] .newsInfo .itemDate:after {display:block;content:"";position:absolute;left:0;top:50%;width:1px;height:10px;background-color:#d8dae5;transform:translate(0, -50%);}
[class^="newsCardBox"] .newsInfo .itemDate:first-child {margin:0;padding:0;}
[class^="newsCardBox"] .newsInfo .itemDate:first-child:after {display:none;}
[class^="newsCardBox"] .flexInner {display:flex;justify-content:space-between;width:100%;}
[class^="newsCardBox"] .flexInner .boxL {width:calc(100% - 370px);}
[class^="newsCardBox"] .flexInner .boxR {max-width:350px;}

.newsCardBox02 {min-height:100%;padding:16px 165px 16px 100px;}
.newsCardBox02 .flagItem {position:absolute;left:20px;top:50%;transform:translate(0, -50%);}
.newsCardBox02 .linkTit {overflow:hidden;width:100%;line-height:20px;font-size:16px;white-space:nowrap;text-overflow:ellipsis;}
.newsCardBox02 .date {position:absolute;right:20px;top:50%;color:#858995;transform:translate(0, -50%);}

/* 뉴스 LIST */
[class^="newsListWrap"] ul li {border-top:1px solid #ebedf1;}
[class^="newsListWrap"] ul li:first-child {border-top:none;}

[class^="subTitleWrap"] + [class^="newsListWrap"] {margin:12px 0 0;}


/* PAGING */
[class^="pagingBox"] {margin:30px 0 0;text-align:center;}
[class^="pagingBox"] button,
[class^="pagingBox"] a {display:inline-block;width:32px;height:32px;margin:0 4px;background-repeat:no-repeat;background-position:center;}
[class^="pagingBox"] button em,
[class^="pagingBox"] a em {display:block;line-height:32px;}
[class^="pagingBox"] button.pagiFirst {margin:0 8px 0 0;border:1px solid #707070;background-color:#fff;border-radius:5px;background-image:url('../images/btn_first.png');}
[class^="pagingBox"] button.pagiPrev {margin:0 12px 0 0;border:1px solid #707070;background-color:#fff;border-radius:5px;background-image:url('../images/btn_Prev.png');}
[class^="pagingBox"] button.pagiNext {margin:0 0 0 12px;border:1px solid #707070;background-color:#fff;border-radius:5px;background-image:url('../images/btn_Next.png');}
[class^="pagingBox"] button.pagiLast {margin:0 0 0 8px;border:1px solid #707070;background-color:#fff;border-radius:5px;background-image:url('../images/btn_Last.png');}

/*************************************************************************************************************
	contents UI
*************************************************************************************************************/
/* 발언자 활동량 */
.speakerActiveBox {overflow:hidden;text-align:center;}
.speakerActiveBox > .inner {display:inline-block;margin:-10px 0 0;text-align:left;}
.speakerActiveBox [class^="itemCase"] {display:inline-block;position:relative;box-sizing:border-box;min-height:72px;margin:10px 130px 0 0;padding:8px 0 0 88px;}
.speakerActiveBox [class^="itemCase"]:before {display:block;content:"";position:absolute;left:0;top:0;width:72px;height:72px;border-radius:5px;background-color:#eceef4;background-repeat:no-repeat;background-position:center;}
.speakerActiveBox [class^="itemCase"]:after {display:block;content:"";position:absolute;right:-64px;top:0;width:1px;height:100%;background-color:#ebedf1;}
.speakerActiveBox [class^="itemCase"]:last-child {margin:10px 0 0;}
.speakerActiveBox [class^="itemCase"]:last-child:after {display:none;}
.speakerActiveBox [class^="itemCase"] .itemRow {display:flex;justify-content:space-between;align-items:center;margin:8px 0 0;}
.speakerActiveBox [class^="itemCase"] .itemRow:first-child {margin:0;}
.speakerActiveBox [class^="itemCase"] .itemRow .tit {display:block;font-size:14px;color:#4b4d58;}
.speakerActiveBox [class^="itemCase"] .itemRow .count {display:block;min-width:72px;margin:0 0 0 50px;line-height:24px;font-size:20px;font-weight:700;text-align:right;}
.speakerActiveBox .itemCaseNews:before {background-image:url('../images/ico_active_count_news.png');}
.speakerActiveBox .itemCaseSns:before {background-image:url('../images/ico_active_count_sns.png');}
.speakerActiveBox .itemCaseYtb:before {background-image:url('../images/ico_active_count_ytb.png');}

/* 발언자 활동량 비교 */
.speakerActiveBox02 {overflow:hidden;text-align:center;}
.speakerActiveBox02 > .inner {display:inline-block;margin:-10px 0 0;text-align:left;}
.speakerActiveBox02 .spkerCompareCase {display:inline-block;position:relative;margin:10px 130px 0 0;}
.speakerActiveBox02 .spkerCompareCase:after {display:block;content:"";position:absolute;right:-64px;top:0;width:1px;height:100%;background-color:#ebedf1;}
.speakerActiveBox02 .spkerCompareCase:last-child {margin:10px 0 0;}
.speakerActiveBox02 .spkerCompareCase:last-child:after {display:none;}
.speakerActiveBox02 .spkerCompareCase > strong {display:block;font-size:18px;font-weight:700;color:#0d3681;}
.speakerActiveBox02 [class^="itemCase"] {display:block;position:relative;box-sizing:border-box;min-height:56px;margin:16px 0 0;padding:0 0 0 88px;}
.speakerActiveBox02 [class^="itemCase"]:before {display:block;content:"";position:absolute;left:0;top:0;width:75px;height:56px;border-radius:5px;background-color:#eceef4;background-repeat:no-repeat;background-position:center;}
.speakerActiveBox02 [class^="itemCase"] .itemRow {display:flex;justify-content:space-between;align-items:center;margin:8px 0 0;}
.speakerActiveBox02 [class^="itemCase"] .itemRow:first-child {margin:0;}
.speakerActiveBox02 [class^="itemCase"] .itemRow .tit {display:block;font-size:14px;color:#4b4d58;}
.speakerActiveBox02 [class^="itemCase"] .itemRow .count {display:block;min-width:72px;margin:0 0 0 50px;line-height:24px;font-size:20px;font-weight:700;text-align:right;}
.speakerActiveBox02 .itemCaseNews:before {background-image:url('../images/ico_active_count_news.png');}
.speakerActiveBox02 .itemCaseSns:before {background-image:url('../images/ico_active_count_sns.png');}
.speakerActiveBox02 .itemCaseYtb:before {background-image:url('../images/ico_active_count_ytb.png');}

/* 감성분석 배너 */
.emotionAnalysisBanner {position:relative;box-sizing:border-box;margin:65px 0 0;padding:35px 220px 35px 50px;border-radius:5px;background-color:rgba(213, 223, 243, .8);}
.emotionAnalysisBanner ul {position:relative;padding:0 0 0 138px;}
.emotionAnalysisBanner ul:before {display:block;content:"";position:absolute;left:0;top:50%;width:103px;height:74px;background:url('../images/icon_emoji.png') no-repeat center;transform:translate(0, -50%);}
.emotionAnalysisBanner ul li {margin:20px 0 0;}
.emotionAnalysisBanner ul li:after {display:block;content:"";clear:both;overflow:hidden;width:0;height:0;padding:0;margin:0;line-height:0;font-size:1;}
.emotionAnalysisBanner ul li:first-child {margin:0;}
.emotionAnalysisBanner ul li strong {display:block;float:left;width:100px;font-size:16px;color:#0d3681;}
.emotionAnalysisBanner ul li p {float:right;width:calc(100% - 150px);}
.emotionAnalysisBanner > button {position:absolute;right:50px;top:50%;padding:0 30px;border:1px solid #071c51;border-radius:22px;transform:translate(0, -50%);}
.emotionAnalysisBanner > button em {display:block;line-height:44px;color:#071c51;}

/* 뉴스리스트 */

/*************************************************************************************************************
	tooltip
*************************************************************************************************************/
[class="tooltipWrap"] {display:inline-block;position:relative;z-index:1;vertical-align:1px;}
[class="tooltipWrap"] button {width:18px;height:18px;vertical-align:top;background:url('../images/ico_tooltip.png') no-repeat center;}
[class="tooltipWrap"] .tooltipBox {display:none;position:absolute;left:-10px;top:18px;padding:8px 0 0;box-sizing:border-box;width:200px;}
[class="tooltipWrap"] .tooltipBox .tooltipInner {position:relative;padding:10px;border-radius:7px;box-shadow:0 3px 6px 0 rgba(0, 0, 0, 0.16);background-color:rgba(21, 72, 203, 0.8);}
[class="tooltipWrap"] .tooltipBox .tooltipInner:before {display:block;content:"";position:absolute;left:10px;top:-8px;width:16px;height:8px;background:url('../images/tail_tooltip.png') no-repeat center;}
[class="tooltipWrap"] .tooltipBox .tooltipMssg {font-size:12px;color:#fff;}
[class="tooltipWrap"] .tooltipBox .point01 {color:#a5f1ff;}

/*************************************************************************************************************
	layer popup
*************************************************************************************************************/
[class^="layerWrap"] {display:none;position:fixed;left:0;top:0;right:0;bottom:0;box-sizing:border-box;padding:48px 0 0;z-index:200;}
[class^="layerWrap"] .layerMask {position:absolute;left:0;top:0;right:0;bottom:0;border:solid 1px #707070;background-color:rgba(0, 0, 0, .4);}
[class^="layerWrap"] .layerBox {position:absolute;left:50%;top:50%;box-sizing:border-box;width:560px;max-height:90%;border:2px solid #071c51;background-color:#fff;transform:translate(-50%, -50%);}
[class^="layerWrap"] .layerBox .layerHeader {position:absolute;left:0;right:0;top:0;padding:14px 50px 14px 16px;background-color:#071c51;}
[class^="layerWrap"] .layerBox .layerHeader .layerTit {line-height:20px;font-size:18px;color:#fff;}
[class^="layerWrap"] .layerBox .layerBody {overflow-y:auto;overflow-x:hidden;}
[class^="layerWrap"] .layerBox .layerBody .layerConts {box-sizing:border-box;width:calc(100% - 17px);padding:30px 13px 30px 30px;}
[class^="layerWrap"] .layerBox .layerFoot {padding:30px 0 24px;}
[class^="layerWrap"] .layerBox .btnCloseLayer {position:absolute;right:0;top:0;width:48px;height:48px;line-height:20px;font-size:18px;color:#fff;background:url('../images/btn_pop_close.png') no-repeat center;}

/* wide box */
[class^="layerWrap"].wide .layerBox {width:1040px;}

/* 발언자 찾기 */
.spchsrchCopy {position:relative;box-sizing:border-box;min-height:44px;padding:2px 0 2px 66px;line-height:20px;font-size:14px;color:#2b2c33;}
.spchsrchCopy:before {display:block;content:"";position:absolute;left:0;top:0;width:44px;height:44px;border-radius:100%;background:#e4e8f0 url('../images/ico_speach.png') no-repeat center;}
.spchsrchCopy .btnCase {margin:5px 0 0;text-align:right;}

.spchSrchBox {margin:12px 0 0;}
.spchSrchBox .listTbl {margin:24px 0 0;}
.spchSrchBox .listTbl:first-child {margin:0;}

/* 언론사 지정선택 */
.mediaSlctCopy {box-sizing:border-box;line-height:20px;font-size:14px;color:#2b2c33;}
.mediaSlctCopy .btnCase {margin:5px 0 0;text-align:right;}

.mediaSlctBox {margin:13px 0 0;}
.mediaSlctBox ul {border-bottom:1px solid #c2c7d8;}
.mediaSlctBox ul li {overflow:hidden;border-top:1px solid #c2c7d8;}
.mediaSlctBox ul li .mediaSlctCase {padding:3px 12px;background-color:#f5f6f9;}
.mediaSlctBox ul li .mediaSlctCase [class^="checkItem"] > label,
.mediaSlctBox ul li .mediaSlctCase [class^="checkItem"] > span {font-weight:700;}
.mediaSlctBox ul li .mediaSlctCase02 {padding:10px 12px;margin:-15px -20px 0 0;}
.mediaSlctBox ul li .mediaSlctCase02 [class^="checkItem"],
.mediaSlctBox ul li .mediaSlctCase02 [class^="checkItem"] {margin:15px 15px 0 0;}

/* 뉴스기사 상세 - 상세정보 */
/* .newsDetailInfoWrap {position:fixed;top:48px;left:0;right:0;display:flex;justify-content:space-between;padding:30px;background-color:#eceef4;} */
.newsDetailInfoWrap {display:flex;justify-content:space-between;margin:-30px -30px 0;padding:30px;background-color:#eceef4;}
.newsDetailInfoWrap .mediaInfo {width:180px;}
.newsDetailInfoWrap .mediaInfo .field {margin:12px 0 0;}
.newsDetailInfoWrap .mediaInfo .field span {display:inline-block;margin:0 4px 0 0;vertical-align:middle;}
.newsDetailInfoWrap .mediaInfo .field span:last-child {margin:0;}
.newsDetailInfoWrap .newsInfo {width:calc(100% - 200px);}
.newsDetailInfoWrap .newsInfo .title {display:block;line-height:24px;font-size:20px;}
.newsDetailInfoWrap .newsInfo .writer {margin:12px 0 0;line-height:20px;}
.newsDetailInfoWrap .newsInfo .writer span {display:inline-block;position:relative;padding:0 12px 0 0;margin:0 8px 0 0;color:#858995;}
.newsDetailInfoWrap .newsInfo .writer span:after {display:block;content:"";position:absolute;right:0;top:50%;width:1px;height:11px;background-color:#c2c5d1;transform:translate(0, -50%);}
.newsDetailInfoWrap .newsInfo .writer span:last-child {margin:0;padding:0;}
.newsDetailInfoWrap .newsInfo .writer span:last-child:after {display:none;}
.newsDetailInfoWrap .newsInfo .hasTag {margin:12px 0 0;}

/* 리포트 제작 */
.reportCopy {position:relative;box-sizing:border-box;min-height:44px;padding:2px 0 2px 66px;line-height:20px;font-size:14px;color:#2b2c33;}
.reportCopy:before {display:block;content:"";position:absolute;left:0;top:0;width:44px;height:44px;border-radius:100%;background:#e4e8f0 url('../images/ico_report.png') no-repeat center;}

.reportSelectBox {margin:12px 0 0;}
.reportSelectBox ul {box-sizing:border-box;overflow:auto;overflow-x:hidden;height:162px;border-top:1px solid #c2c7d8;border-bottom:1px solid #c2c7d8;}
.reportSelectBox ul li button {overflow:hidden;width:100%;height:40px;padding:0 12px;text-align:left;white-space:nowrap;text-overflow:ellipsis;}
.reportSelectBox ul li button.active {background-color:#e4f4f9;}
.reportSelectBox .inpText {margin:12px 0 0;}