@charset "utf-8";

/*************************************************************************************************************
	layout
*************************************************************************************************************/
body.isPop {overflow:hidden;}
#wrap {overflow:hidden;position:relative;box-sizing:border-box;min-width:1600px;height:auto;min-height:100%;background-color:#f1f3f4;}

#header {position:fixed;left:0;top:0;bottom:0;box-sizing:border-box;width:252px;padding:30px;background-color:#071c51;box-shadow: 4px 1px 4px 0 rgba(0, 31, 160, 0.06);z-index:100;}
#header .logo {padding:0 0 0 10px;}
#header .logo a {display:block;}
#header .utilH {position:fixed;left:252px;top:0;right:0;box-sizing:border-box;min-width:1348px;padding:16px 0 12px 36px;background-color:#f7f7f9;}
#header .utilH:after {display:block;content:"";clear:both;overflow:hidden;width:0;height:0;margin:0;padding:0;line-height:0;font-size:1px;}
#header .utilH .alarmUtil {float:left;}
#header .utilH .alarmUtil .alarmItem {display:block;position:relative;padding:6px 0 6px 30px;line-height:20px;color:#071c51;}
#header .utilH .alarmUtil .alarmItem:before {display:block;content:"";position:absolute;top:5px;left:0;width:24px;height:24px;background:url('../images/layout/ico_link_alarm.png') no-repeat center;}
#header .utilH .myinfoUtil {float:right;padding:0 12px 0 0;}
#header .utilH .myinfoUtil .userName {float:left;position:relative;padding:0 10px 0 30px;margin:0 20px 0 0;line-height:32px;border-radius:30px;background-color:#fff;}
#header .utilH .myinfoUtil .userName:last-child {margin:0;}
#header .utilH .myinfoUtil .userName:before {display:block;content:"";position:absolute;left:10px;top:50%;width:16px;height:16px;background:url('../images/layout/ico_user_name.png') no-repeat center;transform:translate(0, -50%);}
#header .utilH .myinfoUtil .utilBtnBox {float:left;white-space:nowrap;}
#header .utilH .myinfoUtil .utilBtnBox button {position:relative;box-sizing:border-box;padding:0 20px;line-height:32px;}
#header .utilH .myinfoUtil .utilBtnBox button:before {display:block;content:"";position:absolute;left:0;top:50%;width:1px;height:11px;background-color:rgba(0, 0, 0, 0.2);transform:translate(0, -50%);}
#header .utilH .myinfoUtil .utilBtnBox button em:before {display:inline-block;position:relative;}
#header .utilH .myinfoUtil .utilBtnBox button:first-child:before {display:none;}
#header .utilH .myinfoUtil .utilBtnBox button.shortcut em {display:inline-block;position:relative;padding:0 0 0 20px;}
#header .utilH .myinfoUtil .utilBtnBox button.shortcut em:before {display:block;content:"";position:absolute;left:0;top:50%;width:16px;height:16px;background:url('../images/layout/ico_now_setup.png') no-repeat center;transform:translate(0, -50%);}
#header .utilH .myinfoUtil .utilBtnBox button.manual {display:inline-block;position:relative;}
#header .utilH .myinfoUtil .utilBtnBox button.manual em {display:inline-block;position:relative;padding:0 0 0 20px;}
#header .utilH .myinfoUtil .utilBtnBox button.manual em:before {display:block;content:"";position:absolute;left:0;top:50%;width:16px;height:16px;background:url('../images/layout/icon_manual.png') no-repeat center;transform:translate(0, -50%);}

/* GNB */
#header .gnbWrap {overflow-x:hidden;overflow-y:auto;position:absolute;left:0;top:120px;right:0;bottom:0;padding:0 0 30px;}
#header .gnbWrap .depth01 > ul > li {margin:20px 0 0;}
#header .gnbWrap .depth01 > ul > li:first-child {margin:0;}
#header .gnbWrap .depth01 > ul > li > a {display:block;padding:0 30px;}
#header .gnbWrap .depth01 > ul > li > a em {display:block;position:relative;padding:6px 0 6px 40px;line-height:20px;font-size:18px;font-weight:700;color:#fff;}
#header .gnbWrap .depth01 > ul > li > a em:before {display:block;content:"";position:absolute;left:0;top:0;width:32px;height:32px;background-repeat:no-repeat;background-position:center;}
#header .gnbWrap .depth01 > ul > li > a.icoDashboard em:before {background-image:url('../images/layout/ico_gnb1.png');}
#header .gnbWrap .depth01 > ul > li > a.icoSpeaker em:before {background-image:url('../images/layout/ico_gnb2.png');}
#header .gnbWrap .depth01 > ul > li > a.icoKeywrod em:before {background-image:url('../images/layout/ico_gnb3.png');}
#header .gnbWrap .depth01 > ul > li > a.icoChanel em:before {background-image:url('../images/layout/ico_gnb4.png');}
#header .gnbWrap .depth01 > ul > li > a.icoCharacter em:before {background-image:url('../images/layout/ico_gnb5.png');}
#header .gnbWrap .depth02 > ul {padding:12px 0;}
#header .gnbWrap .depth02 > ul > li > a {display:block;padding:6px 30px 6px 70px;}
#header .gnbWrap .depth02 > ul > li > a em {display:block;line-height:20px;font-size:15px;color:rgba(255, 255, 255, .8);}
#header .gnbWrap .depth02 > ul > li.active > a {background-color:rgba(0, 0, 0, .24);}
#header .gnbWrap .depth02 > ul > li.active > a em {font-weight:700;color:#00b3e3;}

#container {padding:60px 0 180px 288px;}
#container .contents {box-sizing:border-box;padding:46px 0 0;width:1312px;}

#footer {position:absolute;left:252px;bottom:0;right:0;padding:0 0 24px 36px;background-color:#f1f3f4;}
#footer .footInner {position:relative;}
#footer .fUtilBox a,
#footer .fUtilBox button {display:inline-block;position:relative;padding:10px 0 10px 20px;margin:0 0 0 16px;}
#footer .fUtilBox a:first-child,
#footer .fUtilBox button:first-child {margin:0;padding:0;}
#footer .fUtilBox a:before,
#footer .fUtilBox button:before {display:block;content:"";position:absolute;left:0;top:50%;width:1px;height:11px;background-color:rgba(0, 0, 0, 0.2);transform:translate(0, -50%);}
#footer .fUtilBox a:first-child:before,
#footer .fUtilBox button:first-child:before {display:none;}
#footer .fUtilBox a em,
#footer .fUtilBox button em {display:block;line-height:20px;color:#585a64;}
#footer .corpAddrBox {margin:20px 0 0;font-size:11px;color:#858890;}
#footer .copyright {position:absolute;top:12px;right:32px;font-size:11px;color:#858890;}

/*************************************************************************************************************
	CONTENT 상단 고정영역
*************************************************************************************************************/
/* PAGE TITLE */
[class^="pageFixedArea"] .pageFixedBox {position:fixed;left:252px;top:60px;right:0;background-color:#fff;box-shadow:0 3px 6px 0 rgba(52, 85, 159, 0.06);z-index:100;}
[class^="pageFixedArea"] .pageFixedBox .pageFixedInner {position:relative;box-sizing:border-box;padding:22px 0 18px 36px;width:1348px;}
[class^="pageFixedArea"] .pageTitleBox .pageTitle {display:inline-block;position:relative;padding:0 0 0 32px;line-height:32px;font-size:22px;font-weight:700;vertical-align:middle;}
[class^="pageFixedArea"] .pageTitleBox .pageTitle:before {display:block;content:"";position:absolute;left:0;top:0;width:32px;height:32px;background:url('../images/layout/ico_page_title.png') no-repeat center;}
[class^="pageFixedArea"] .pageTitleBox .tooltipWrap {margin:0 0 0 4px;}
[class^="pageFixedArea"] .pageTitleBox .srchMssg {display:inline-block;margin:0 0 0 8px;font-size:16px;font-weight:700;color:#071c51;vertical-align:middle;}
[class^="pageFixedArea"] .pageTitleBox .srchMssg span {color:#00b3e3;}
[class^="pageFixedArea"] .srchTagBox {display:inline-block;margin:0 0 0 8px;vertical-align:middle;}
[class^="pageFixedArea"] .srchTagBox [class^="srchTagItem"] {margin:0 0 0 8px;}
[class^="pageFixedArea"] .srchTagBox [class^="srchTagItem"]:first-child {margin:0;}

/* 공유버튼 */
[class^="pageFixedArea"] .shareBtnBox {position:absolute;top:36px;right:0;}

/* 검색영역 */
[class^="pageFixedArea"] .integrSearchBox {margin:22px 0 0;}
[class^="pageFixedArea"] .integrSearchBox:first-child {margin:0;}
[class^="pageFixedArea"] .integrSearchBox .searchWordBox {display:flex;margin:0 -80px 0 0;}
[class^="pageFixedArea"] .integrSearchBox .searchWordBox > .searchWordItem {position:relative;width:100%;max-width:721px;padding:0 80px 0 0;}
[class^="pageFixedArea"] .integrSearchBox .searchWordBox > .searchWordItem .inpText,
[class^="pageFixedArea"] .integrSearchBox .searchWordBox > .searchWordItem .inpSrch {width:100%;}
[class^="pageFixedArea"] .integrSearchBox .searchWordBox > .searchWordItem .autoWordCase {display:none;position:absolute;left:0;right:80px;top:100%;padding:0 13px;border:1px solid #c2c8d8;border-radius:5px;background-color:#fff;}
[class^="pageFixedArea"] .integrSearchBox .searchWordBox > .searchWordItem .autoWordCase ul li {margin:0 -13px;}
[class^="pageFixedArea"] .integrSearchBox .searchWordBox > .searchWordItem .autoWordCase ul li button {width:100%;padding:10px 13px;line-height:20px;}
[class^="pageFixedArea"] .integrSearchBox .searchWordBox > .searchWordItem .autoWordCase ul li button em {display:block;text-align:left;}
[class^="pageFixedArea"] .integrSearchBox .searchWordBox > .searchWordItem .autoWordCase ul li button:hover,
[class^="pageFixedArea"] .integrSearchBox .searchWordBox > .searchWordItem .autoWordCase ul li button:focus {background-color:#f2fbfe;}
[class^="pageFixedArea"] .integrSearchBox .searchWordBox > .searchWordItem .autoWordCase .moreBox {border-top:1px solid #c2c8d8;}
[class^="pageFixedArea"] .integrSearchBox .detailSrchBundle {margin:15px 0 0;}
[class^="pageFixedArea"] .integrSearchBox .detailSrchBundle:first-child {margin:0;}
[class^="pageFixedArea"] .integrSearchBox .detailSrchBundle .srchRow {margin:15px 0 0;}
[class^="pageFixedArea"] .integrSearchBox .detailSrchBundle .srchRow:first-child {margin:0;}
[class^="pageFixedArea"] .integrSearchBox .detailSrchBundle .srchRow:after {display:block;content:"";clear:both;overflow:hidden;width:0;height:0;padding:0;margin:0;line-height:0;font-size:1;}
[class^="pageFixedArea"] .integrSearchBox .detailSrchBundle .srchRow .schTit {float:left;width:155px;}
[class^="pageFixedArea"] .integrSearchBox .detailSrchBundle .srchRow .schTit .tit {display:inline-block;line-height:32px;font-size:14px;color:#858995;}
[class^="pageFixedArea"] .integrSearchBox .detailSrchBundle .srchRow .schTit .tooltipWrap {margin:0 0 0 4px;}
[class^="pageFixedArea"] .integrSearchBox .detailSrchBundle .srchRow .schCont {float:left;}
[class^="pageFixedArea"] .integrSearchBox .detailSrchBox {display:none;margin:15px 0 0;}
[class^="pageFixedArea"] .integrSearchBox .detailSrchBox .detailSrchBundle {margin:15px 0 0;padding:15px 0 0;border-top:1px solid #ebedf1;}
[class^="pageFixedArea"] .integrSearchBox .detailSrchBox .detailSrchBundle:first-child {margin:0;padding:0;border-top:none;}
[class^="pageFixedArea"] .integrSearchBox [class^="inpText"],
[class^="pageFixedArea"] .integrSearchBox [class^="inpDate"],
[class^="pageFixedArea"] .integrSearchBox [class^="selectItem"],
[class^="pageFixedArea"] .integrSearchBox [class^="btnRadioBox"] {margin:0 10px 0 0;}
[class^="pageFixedArea"] .integrSearchBox [class^="inpText"]:last-child,
[class^="pageFixedArea"] .integrSearchBox [class^="inpDate"]:last-child,
[class^="pageFixedArea"] .integrSearchBox [class^="selectItem"]:last-child,
[class^="pageFixedArea"] .integrSearchBox [class^="btnRadioBox"]:last-child {margin:0;}
[class^="pageFixedArea"] .integrSearchBox [class^="checkItem"],
[class^="pageFixedArea"] .integrSearchBox [class^="radioItem"] {margin:0 20px 0 0;}
[class^="pageFixedArea"] .integrSearchBox [class^="checkItem"]:last-child,
[class^="pageFixedArea"] .integrSearchBox [class^="radioItem"]:last-child {margin:0;}
[class^="pageFixedArea"] .integrSearchBox .chanelSelectBox {display:inline-block;}
[class^="pageFixedArea"] .integrSearchBox .chanelSelectBox .chanelItems {position:relative;margin:0 15px 0 0;padding:0 15px 0 0;}
[class^="pageFixedArea"] .integrSearchBox .chanelSelectBox .chanelItems:after {display:block;content:"";position:absolute;right:-1px;top:50%;width:2px;height:12px;margin:-6px 0 0;background-color:#ebecf2;}
[class^="pageFixedArea"] .integrSearchBox .chanelSelectBox .chanelItems:last-child {margin:0;padding:0;}
[class^="pageFixedArea"] .integrSearchBox .chanelSelectBox .chanelItems:last-child:after {display:none;}
[class^="pageFixedArea"] .integrSearchBox .chanelSelectBox .chanelItems .itemTit {display:inline-block;margin:0 10px 0 0;line-height:32px;color:#858995;}
[class^="pageFixedArea"] .integrSearchBox .btnSrchBox {position:absolute;right:0;bottom:18px;}
[class^="pageFixedArea"] .integrSearchBox .btnSrchBox button {margin:0 10px 0 0;}
[class^="pageFixedArea"] .integrSearchBox .btnSrchBox button:last-child {margin:0;}